/* Add CSS styles here! */
body {
  font-family: sans-serif;
}

th, td {
  padding: 1em;
}

thead {
  background-color: beige;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid darkgray;
}
